@import "sass/abstracts/variables/breakpoints-margins";
@import "sass/abstracts/variables/colors";

.job-information {
  width: 100%;

  color: white;
  background-color: $secondary-color;
  border: 2px solid $primary-color;
  //to match the contact page margins
  margin: 9.96px 0;
}
.career-location {
  font-size: large;
}
.post-type-archive-cac-careers {
  .page-title {
    text-align: center;
    margin-bottom: $page-margin-large;
  }
  .site-main {
    margin: 0 $page-margin;
  }
  .content-area {
    max-width: 1024px;
    margin: 0 auto;
  }
  .career-location-radio {
    display: flex;
    gap: $page-margin;

    margin: $page-margin-medium $page-margin;
  }
  #filtered-jobs {
    margin: 0 $page-margin;
    display: flex;
    max-width: 1024px;
    align-items: center;
  }
}
