// Style for Cart Page

.page-id-20 {
  .entry-title {
    display: flex;
    justify-content: center;
  }
  .entry-content {
    .woocommerce {
      margin: 0 2rem;
      .cart-empty {
        padding: 0.2rem 0;
      }

      .button {
        // Apply coupon & Update cart buttons
        @include button-customizable(
          $bg-color: $button-secondary-color,
          $text-color: $text-primary-color,
          $padding: 0.5rem 1rem
        );
      }
      .wc-proceed-to-checkout {
        // Proceed to Checkout button
        .button {
          @include button-customizable(
            $bg-color: $button-primary-color,
            $text-color: $text-secondary-color,
            $padding: 0.5rem 1rem
          );
        }
      }

      table {
        border-collapse: separate;
        border-spacing: 0 10px;
        @media (min-width: $large-screen) {
          padding-left: 20%;
          padding-right: 20%;
        }
        thead {
          border-bottom: 2px solid gray;
        }
        tbody {
          .woocommerce-cart-form__cart-item {
            border-bottom: 1px solid gray;

            background-color: $secondary-color;
          }
          tr {
            .product-remove,
            .product-thumbnail {
              text-align: left;
              a {
                font-size: 1.5rem;
              }
            }
          }

          tr:nth-last-child(1) {
            .actions {
              margin-top: 3rem;
              .button {
                margin-top: 0.5rem;
              }
            }
          }
          td {
            padding: 0 1rem;
            .actions {
              text-align: right;
            }
          }
        }
      }

      .order-total {
        display: none;
      }
      .cart-collaterals {
        padding-top: 1rem;
        .cart_totals {
          @media (min-width: $large-screen) {
            padding-left: 20%;
            padding-right: 20%;
          }
          table {
            border-collapse: collapse;
            tbody {
              tr {
                border-bottom: 1px solid rgba($primary-color, 0.5);
                td,
                th {
                  padding: 1rem 0;
                }
              }
              #shipping_method {
                list-style: none;
                padding-left: 0;
                margin-left: 0;
              }
            }
          }
          h2 {
            border-bottom: 2px solid gray;
            border-top: 2px solid gray;
          }
        }
      }
    }
  }
}

.wc-proceed-to-checkout {
  display: flex;
  justify-content: center;
}

.woocommerce-message {
  background-color: $button-secondary-color;
}
