// Style for Cart Page

.page-id-20 {
    .entry-content {
        .woocommerce {
            margin: 0 2rem;
            .cart-empty {
                padding: 0.2rem 0;
            }

            button[type='submit'] { // Apply coupon & Update cart buttons
                @include button-customizable(
                    $bg-color: $button-secondary-color,
                    $text-color: $text-primary-color,
                    $padding: 0.5rem 1rem,
                );
            }
            .wc-proceed-to-checkout { // Proceed to Checkout button
                .button {
                    @include button-customizable(
                        $bg-color: $button-primary-color,
                        $text-color: $text-secondary-color,
                        $padding: 0.5rem 1rem,
                    );
                }
            }

            table {
                border-collapse:collapse;
                thead {
                    border-bottom: 2px solid gray;
                }
                tbody {
                    .woocommerce-cart-form__cart-item {
                        border-bottom: 1px solid gray;
                    }
                    tr {
                        .product-remove,
                        .product-thumbnail {
                            text-align: left;
                        }
                        
                    }

                    tr:nth-last-child(1) {
                        .actions {
                            margin-top: 1rem;
                            .button {
                                margin-top: .5rem;
                            }
                        }
                    }
                }
            }
            .cart-collaterals {
                padding-top: 1rem;
                .cart_totals {
                    h2 {
                        border-bottom: 2px solid gray;
                        border-top: 2px solid gray;
                    }
                }
            }
        }

    }
}