@import "sass/abstracts/variables/breakpoints-margins";
@import "sass/abstracts/variables/colors";
/*contact*/

/* Style the buttons that are used to open and close the accordion panel */

.page-id-27 {
  .page-title {
    text-align: center;
    margin-top: 7.7rem;
  }
  .location-name {
    color: white;
  }
  .location-container {
    max-height: 39px;
    background-color: $secondary-color;
    border: 2px solid $primary-color;
    border-radius: 4px;
    transition: max-height 0.5s linear;
  }
  .location-container.container-open {
    transition: max-height 0.5s linear;
    max-height: 1200px;
  }
  .location-img {
    width: 100%;
  }
}

@media (min-width: $small-screen) {
  .page-id-27 {
    .accordionTitle {
      background-color: transparent;
    }

    .location-name {
      background-color: transparent;
      color: black;
    }
    .accordionContent {
      margin: 0;
      padding: 0;
    }
    .location-address {
      margin-top: $page-margin;
    }
  }
  .store-locations {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    .location-container {
      margin: 3rem 0;
      background-color: transparent;
      display: grid;
      grid-template-rows: 50px 320px 50px;
      max-height: fit-content;
      border-radius: 0;
      border: 0;
      padding: 1rem $page-margin;
      width: 100%;
      justify-content: center;
      column-gap: 4%;
    }

    &:nth-child(odd) {
      grid-template-columns: 515px fit-content(515px);

      div {
        grid-column: 2/2;
        grid-row: 2/3;
      }

      .location-img {
        grid-column: 1/2;
        grid-row: 1/1;
      }

      .location-address {
        grid-column: 1/1;
        grid-row: 3;
      }
    }
    &:nth-child(3n) {
      background-color: $secondary-color;
    }

    &:nth-child(3n + 1) {
      background-color: $primary-color;
      .accordionContent,
      .accordionTitle {
        color: white;
      }
    }

    &:nth-child(3n + 2) {
      background-color: transparent;
    }
    &:nth-child(even) {
      grid-template-columns: fit-content(515px) 515px;

      div {
        grid-column: 1/1;
        grid-row: 2/3;
      }

      .location-img {
        grid-column: 2/2;
        grid-row: 1/1;
      }

      .location-address {
        grid-column: 2/2;
        grid-row: 3;
      }
    }
  }
}
