// header element
#masthead {
    background: $primary-color;
    display: flex;
    justify-content: start;
    padding-left: .5rem;
    padding-right: 2rem;
	position: relative;
	z-index: 100;
}

// div of ul of nav
.menu-menu-1-container{
    color: white;
    text-decoration: none;
}

// ul nav
#primary-menu {
    padding: 1rem;
    font-size: 1.25rem;
    // gap: 1rem;
    transition: left .6s ease;
}

@media screen and (min-width: 48em) {
    #primary-menu {
        background-color: $primary-color;
    }

}

.site-branding a img {
    width: 10rem;
    padding: 1rem;
}

.menu-menu-1-container #primary-menu li a{
    color: white;
    color: #ffffff; /* White color */
    transition: color 0.3s ease; /* Smooth transition for color change */
    &:hover {
        color: #fed8b1; 
    }
}

#primary-menu ul li:last-child {
    margin-top: 3px;
}


// hamburger styles
.hamburger {
    position: relative;
    display: block;
    width: 35px;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 2rem;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
    z-index: 1000;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}



// Logo
img .custom-logo {
    position: absolute;
    top: -5.5rem;
	left: .5rem;
}
@media screen and (min-width: 48em) {
    .custom-logo {
        justify-content: start;
    }
}

.main-navigation {
	display: block;
	width: 100%;
	position: absolute;
	top: 6.5rem;
	right: 0;
	z-index: 1000;
}

.main-navigation ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding-left: 0;
	background-color: $secondary-color;
	position: fixed;
	left: -200%;
	top: 5.8937rem;
	
    
}

.main-navigation li {
	position: relative;
}


.main-navigation a {
	display: block;
	text-align: center;
    gap: 1rem;
}

@media screen and (min-width: 48em) {
    .main-navigation a {
        gap: none;
    }

}


.main-navigation.toggled ul {
	display: block;
	left: 0!important;
	width: 100%;
	

}

.hamburger {
	position: absolute;
	top: -5.5rem;
	right: .5rem;
	z-index: 1100;
	display: block;
	width: 3.75rem;
	padding: 1rem;
	margin: 0;
	border: none;
	background: transparent;
	color: #fff;
}

@media screen and (min-width: 48em) {
    .hamburger {
		display: none;
	}
}

@media screen and (min-width: 48em) {
	
	.main-navigation {
		width: auto;
		position: relative;
		top: 0;
		align-self: center;
		margin-left: auto;
	}

	.main-navigation ul,
	.main-navigation.toggled ul {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		justify-content: center;
		position: relative;
		left: auto;
		top: auto;
	}

	.main-navigation ul ul {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		float: left;
		position: absolute;
		top: 100%;
		left: -999em;
		z-index: 99999;
		background-color: #111;
		flex-direction: column;
	}
	
	.main-navigation ul ul a {
		left: -999em;
		top: 0;
		width: 200px;
		text-align: left;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
		top: 0;
	}
	
	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		left: auto;
	}
}

#primary-menu li .cart-icon {
    position: relative;
    width: 30px;
    height: 30px;
    fill: white;
}


#site-header-cart li a span {
    display: none;
}


#site-header-cart {
    list-style-type: none;
}

@media screen and (min-width: $small-screen) {
    #site-header-cart li a span {
        z-index: 9999;
        position: absolute;
        display: inline-block;
        width: 30px; /* Adjust the width and height as needed */
        height: 30px;
        line-height: 30px; /* Aligns the text vertically */
        text-align: center; /* Aligns the text horizontally */
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value (0 to 1) */
        color: green; /* Choose your desired text color */
    top: 15%;
    right: 0;
    }
}