.post-type-archive-product {
  .site-main {
      .menu-introductions {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        p {
          color: $text-primary-color;
          font-size: calc(0.7rem + 0.5vw);
          margin: 1.5rem 0;
          .imp_text{
            font-weight: 700;
            text-decoration: underline;
            text-underline-offset: 4px;
          }
          @media (max-width: $small-screen) {
            font-size: calc(0.9rem + 0.7vw);
          }
        }
        
        
      }
      ul.products {
        max-width: 1800px;
        margin: 0 auto;
        #filtered-results-count {
          padding-left: .5rem;
          margin-bottom: .5rem;
        }
  
        .filter-button-group {
          padding-left: .5rem;
          padding-bottom: 1rem;
        }
      }
  }
}

