// My Account page

.page-id-22 {
    .post-22 {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        padding: 0 2rem;
        ul {
            margin: 0;
            padding: 0;
        }
    }
}