@import "sass/components/content/contact-page.scss";
@import "sass/components/content/archive-careers.scss";
@import "sass/components/content/faq-page.scss";
@import "404-page" ;
@import "catering-page";
@import "my-account-page";

.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
