@import "sass/abstracts/variables/breakpoints-margins";
@import "sass/abstracts/variables/colors";
.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*careers*/
.job-information {
  width: 100%;
  color: white;
  background-color: $secondary-color;
  //to match the contact page margins
  margin: 9.96px 0;
}
.post-type-archive-cac-careers {
  .accordionTitle {
    margin: 0px;
  }
  .accordionTitle.is-open ~ .accordionContent {
    text-align: start;
    display: inline;
  }
  .site-main {
    margin: 0 $page-margin;
  }
  #filtered-jobs {
    display: flex;
    max-width: 1024px;
    align-items: center;
  }
}
/*contact*/

/* Style the buttons that are used to open and close the accordion panel */
.accordionTitle {
  cursor: pointer;
  background-color: $primary-color;
  // margin: 0;
}

.accordionContent {
  display: none;
}

.accordionTitle.is-open ~ .accordionContent {
  display: flex;
  flex-direction: column;
  max-width: 515px;
  margin: 0 auto;
  padding: 0 $page-margin;
}

.page-id-27 {
  .location-name {
    color: white;
  }
  .location-container {
    margin: 0 $page-margin;
    background-color: $secondary-color;
  }
  .location-img {
    width: 100%;
  }
}

@media (min-width: $small-screen) {
  .page-id-27 {
    .accordionTitle {
      cursor: auto;
    }

    .accordionContent {
      display: inline;
    }
    .location-name {
      background-color: transparent;
      color: black;
    }
  }
  .store-locations {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .store-locations {
    .location-container:nth-child(3n) {
      background-color: $secondary-color;
    }
    .location-container:nth-child(3n + 1) {
      background-color: $primary-color;
      .accordionContent,
      .accordionTitle {
        color: white;
      }
    }
    .location-container:nth-child(3n + 2) {
      background-color: transparent;
    }
  }

  .page-id-27 .location-container {
    padding: 1rem $page-margin;
    display: grid;
    width: 100%;
    justify-content: center;
    column-gap: 4%;
    grid-template-rows: 50px 320px 50px;
  }

  .location-container:nth-child(odd) {
    grid-template-columns: 515px fit-content(515px);

    div {
      grid-column: 2/2;
      grid-row: 2/3;
    }

    .location-img {
      grid-column: 1/2;
      grid-row: 1/1;
    }

    .location-address {
      grid-column: 1/1;
      grid-row: 3;
    }

    .accordionContent {
      display: inline;
    }
  }
  .location-container:nth-child(even) {
    grid-template-columns: fit-content(515px) 515px;

    div {
      grid-column: 1/1;
      grid-row: 2/3;
    }
    .location-img {
      grid-column: 2/2;
      grid-row: 1/1;
    }
    .location-address {
      grid-column: 2/2;
      grid-row: 3;
    }
  }
}

/*careers*/
