// Homepage

.page-id-13 {
    .hero-banner {
        position: relative;
        margin-bottom: 4rem;
        margin-top: -5px;
        margin-left: -5px;
        .hero-image-background {
            position: relative;
            filter: blur(3px);
        }
    
        .hero-3d-image {
            position: absolute;
            top: calc(35% + 5vw);
            right: 0;
            left: 0;
            transform: translateX(50%);
            width: 50%;
            z-index: 10;

            @media (min-width: 34.375rem) {
                top: calc(35% + 15vw);
            }
        
        }
    
        h1 {
            position: absolute;
            top: 15%;
            left: 0;
            right: 0;
            z-index: 10;
            color: $text-secondary-color;
            font-size: calc(1.1rem + .75vw);
            text-shadow: 1px 1px 2px black;
            text-align: center;
            text-transform: capitalize;

      @media (min-width: 31.25rem) {
        font-size: calc(1.5rem + 0.75vw);
      }

      @media (min-width: 34.375rem) {
        top: 5%;
      }
    }

    p {
      text-align: center;
      margin: 2rem 1rem 1rem 1rem;
      font-weight: 700;
      color: $button-primary-color;

      @media (min-width: 34.375rem) {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        color: $text-secondary-color;
        text-shadow: 1px 1px 2px black;
      }
    }

    .hero-cta {
      display: flex;
      justify-content: space-evenly;

      @media (min-width: 34.375rem) {
        position: absolute;
        top: 45%;
        left: 0;
        right: 0;
      }
    }

        // Styling for Desktop size (768px and up)
        @media (min-width: $small-screen) {
            margin-bottom: 5rem;
            .hero-image-background {
                height: calc(15.625rem + 15vw);
                object-fit: cover;
                object-position: bottom;
            }

      .hero-3d-image {
        left: auto;
        top: auto;
        transform: none;
        bottom: calc(-15% - 5vw);
      }

      h1 {
        top: 0;
        right: auto;
        margin: 2rem;
        @media (min-width: $medium-screen) {
          font-size: calc(2rem + 1.75vw);
        }
      }

      p {
        position: absolute;
        left: 0;
        right: auto;
        top: 25%;
        margin: 2rem;
        @media (min-width: $medium-screen) {
          font-size: calc(1.2rem + 0.75vw);
        }
      }

            .hero-cta {
                justify-content: start;
                margin-left: 2rem;
                margin-top: 1rem;
                gap: 2rem;
                a {
                    font-size: 1.2rem;
                }
            }
        }
    } 
}

// About page

.page-id-25 {
    .hero-banner {
        position: relative;
        margin: auto;  
    }

  h1 {
    position: absolute;
    left: 45%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: $text-secondary-color;
    text-shadow: 1px 1px 2px black;
    font-size: calc(1.9em + 1.5vw);
    z-index: 10;
  }

    @media (min-width: $small-screen) {
        .hero-image {
            height: calc(13.625rem + 15vw);
            object-fit: cover;
            object-position: center;
            filter: blur(3px);
            margin-top: -5px;
            margin-left: -5px;
        }
    }
}

// Menu page

.post-type-archive-product {
  .hero-banner {
    position: relative;
  }

  .menu-hero-image {
    height: calc(13.625rem + 15vw);
    object-fit: cover;
    object-position: center;
    filter: blur(2px);
  }

  h1 {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: $text-secondary-color;
    text-shadow: 1px 1px 2px black;
    font-size: calc(1.9em + 1.5vw);
    z-index: 10;
  }
}

//Catering Page

.catering-title {
  h1 {
    position: relative;
    display: flex;
    justify-content: center;
    color: $text-primary-color;
    text-shadow: 1px 1px 2px black;
    font-size: calc(1.9em + 1.5vw);
  }
}

.opening-paragraph {
  padding: 2rem 11vw 1rem 10vw;
  justify-content: right;
  background-color: $secondary-color;
  p {
    color: $text-primary-color;
  }

  @media (max-width: $small-screen) {
    padding: 2rem 6vw 1rem 6vw;
  }
}
