// Footer styles

.site-footer {
    position: relative;
    background-color: $primary-color;
    margin-top: 2rem;
    padding-top: 2rem;
    color: white;
    a {
        color: $text-secondary-color;
    }
    .secondary-logo-link {
        display: block;
        margin: 0 auto;
        width: 200px;
        padding: 1rem;
    }
    .secondary-logo {
        width: 200px;
        display: block;
    }

    .footer-left-section {
        text-align: center;
        padding: 0 1rem;
    }

    .footer-right-section {
        display: flex;
        justify-content: space-around;
        padding: 1rem 0;
        ul {
            list-style: none;
            margin: 0;
            padding-left: 0;
            a {
                text-decoration: none;
            }
        }
    }

    body.page-id-13 &,
    body.post-type-archive-product & {
        background-color: transparent; // Apply styles when on home and menu page
        color: white;
        a {
            color: white;
        }
    }

    @media (min-width: $small-screen) {
        background-color: white;
        padding-top: 5rem;
        .secondary-logo-link {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
        .footer-content {
            background-color: #6f4e37;
            border-top: 2px solid white;
            box-shadow: 1px -4px 4px -4px white;
            .footer-flex-box {
                max-width: 1920px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                gap: 5rem;
            }
        }

        .footer-left-section {
            text-align: left;
            padding: 0 1rem;
            width: 50%;
            
            .about-us-brief {
                width: 80%;
            }
        }

        .footer-right-section {
            width: 50%;
            justify-content: flex-end;
            gap: 3rem;
            line-height: 2rem;
            padding-right: 1rem;
            
                .footer-navigation {
                    
                        li{
                            a {
                                transition: color 0.3s ease;
                                &:hover {
                                    color: $secondary-color !important;
                                }
                            }

                        }
                    
                }
                
            
         }
    }
}