// Contact Page

.page-id-27 {
    .social-media-section {
        p {
            font-weight: 700;
            text-align: center;
        }

        ul {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 1rem;
            gap: 1rem;

           svg {
            width: 50px;
            height: 50px;
           }
        }
    }

    @media (min-width: $small-screen) {
        .social-media-section {
            p {
                font-size: calc(1.1rem + .75vw);
                margin-bottom: 0;
            }
        }

         // Hover effect for Social Media Icons
        .social-media-links {
        .social-media-item {
            svg {
              transition: transform 0.3s ease; /* Adjust the duration and timing function as needed */
          }
            svg:hover {
                transform: scale(1.2);
                fill: $button-primary-color;
            }
        }
    }
    }
}