@import "sass/abstracts/variables/colors";
@import "sass/abstracts/variables/breakpoints-margins";
/*general styling*/
.accordionTitle {
  cursor: pointer;
  background-color: $primary-color;
  padding-left: 1rem;
}
.accordionContent {
  display: none;
}
.accordionTitle.is-open ~ .accordionContent {
  display: block;
}
/*contact*/

.page-id-27 {
  .accordionTitle {
    margin: 0;
  }
  .wrapper {
    margin: 0 $page-margin;
    border: 1px solid white;
    border-radius: 4px;
    margin-bottom: 50px;
  }
  .accordionContent {
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
  }

  .accordionTitle.is-open ~ .accordionContent {
    display: flex;
    flex-direction: column;
    transition: max-height 1s ease-in-out;
    max-height: 400px;
    max-width: 515px;
    margin: 16px auto 0;
    padding: 0 $page-margin;
  }
}
@media (min-width: $small-screen) {
  .page-id-27 {
    .wrapper {
      width: 100%;
      border-radius: 0;
      border: none;
      margin-bottom: 0;
    }
    .accordionTitle {
      cursor: auto;
      padding-left: 0;
    }
    .accordionContent {
      overflow: visible;
      display: grid;
      max-height: fit-content;
    }
    .accordionTitle.is-open ~ .accordionContent {
      margin: 0;
      padding: 0;
      display: grid;
    }
    .accordionTitle.is-open ~ .location-address {
      margin: 16px 0 24px;
    }
  }
}

/*careers*/

.post-type-archive-cac-careers {
  .accordion-container {
    border: 1px solid white;
    border-radius: 4px;
    margin-bottom: 50px;
  }
  .accordionTitle {
    margin: 0px;
    cursor: pointer;
  }
  .accordionTitle.is-open ~ .accordionContent {
    text-align: start;
    display: inline-block;
    & > * {
      margin-bottom: 20px;
    }
  }
  .accordionContent {
    color: black;
    margin: 0 $page-margin;
    padding: 8px 0;
  }
}
