.our-locations {
  h2 {
    font: $font__main;
    color: white;
    font-size: calc(1em + 1.2vw);
    @media (max-width: $small-screen) {
      font-size: calc(1.6rem + 1.75vw);
    }
    margin-top: 3rem;
    margin-left: 0;
  }
  .store-locations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    padding: 1em;

    .store {
      width: 17rem;

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      flex-shrink: 0;
      @media (max-width: $medium-screen) {
        flex-direction: row;
        width: 20rem;
      }
      p {
        font-family: $font__main;
        color: white;

        font-size: calc(1em + 1vw);
        margin-top: 0;
      }
    }
  }
  .location-more-info {
    text-align: center;
    a {
      padding: 0.7rem 3rem;
      background-color: $button-secondary-color;
      color: black;
    }
    @media (max-width: $small-screen) {
      margin-left: 0;
    }
  }
}
