// Layout for page with short content (not enough to fill the whole page): Empty Cart page

.page-id-20, 
.post-type-archive-cac-careers{
    #page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    
        .site-main {
            flex-grow: 1;
        }
    }

}

.post-type-archive-cac-careers {
    #page {
        .site-main {
            max-width: 64rem;
            margin: 0 auto;
            width: 100%;
        }
    }
}