// Responsive Breakpoints
$small-screen: 48em;
$medium-screen: 64em;
$large-screen: 80em;
$xtra-large-screen: 96em;

// Margin
$page-margin: 16px;
$page-margin-medium: 20px;
$page-margin-large: 24px;
